.movie-card {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(139, 0, 0, 0.95));
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(24px);
  width: 50vw;

  &__image {
   color: yellow;
  }

  &__poster-image {
    height: auto;
    width: 200px;
  }

  &__details {
    color: white;
  }

  //Header card
  &__header {
    margin-bottom: 8px;
  };
  &__title {
    font-size: 30px;
    color: white;
  }

  &__plataform-logo {
    height: auto;
    width: 30px;
  }

  //Info de la pelicula
  &__tags {
    display:flex;
    color: #d1d5db;
    margin-bottom: 16px
  };

  &__tag {
    font-size: 14px;
    margin-left: 5px;
  };

  &__rating {
    margin-left: 5px;
    
  };

  &__rating-star {
    color: yellow;
    margin-right: 3px;
    font-size: 15px;
  }

  //description movie
  &__description {
    color:#A9A9A9;

  }

  &__text {
    font-size: 14px;
    margin-bottom: 24px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    color: #CCCCCC;
  
  }

  &__info-text {
    font-size: 14px;    
  }

  

  
}