<mat-card class="movie-card">
  <section class="movie-card__image" >
    <img class="movie-card__poster-image" src="assets/pruebajpg.jpg" alt="">
  </section>

  <section class="movie-card__details">
    <mat-card-header class="movie-card__header">
      <mat-card-title class="movie-card__title">Interstellar</mat-card-title>
    </mat-card-header>
      
    <mat-card-content class="movie-card__content">
      <div class="movie-card__tags">
        <span class="movie-card__tag">2023</span>
        <span class="movie-card__tag">•</span>
        <span class="movie-card__tag">Action</span>
        <span class="movie-card__tag">•</span>
        <div>
          <ion-icon name="star" color="yellow"></ion-icon>
          <span>9.4</span>
        </div>
      </div>

      <section class="movie-card__description">
        <p class="movie-card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim consequuntur eius, adipisci nesciunt amet quo nihil recusandae molestiae obcaecati assumenda.
        </p>
        <div class="movie-card__info-item">
          <h3 class="movie_card__subtitle">Director</h3>
          <p class="movie-card__info-text">Christopher Nolar</p>
        </div>
        <div class="movie-card__info-item">
          <h3 class="movie_card__subtitle">Fecha de estreno</h3>
          <p class="movie-card__info-text">26 de octubre de 2014</p>
        </div>
        <div class="movie-card__info-item">
          <h3 class="movie_card__subtitle">Plataformas</h3>
          <img class="movie-card__plataform-logo" src="assets/svg/netflix.svg" alt="logo de netflix">
        </div>
      </section>
    </mat-card-content>

    <mat-card-actions class="movie-card__action">
      <button class="movie-card__button"></button>
      <button class="movie-card__button"></button>
    </mat-card-actions>
  </section>
</mat-card>
