.movie-card {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(139, 0, 0, 0.95));
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(24px);
  width: 50vw;

  &__image {
   color: yellow;
  }

  &__poster-image {
    height: auto;
    width: 200px;
  }

  &__details {
    color: white;
    border: 1px solid red;
  }

  &__title {
    font-size: 30px;
    color: white;
  }

  &__plataform-logo {
    height: auto;
    width: 30px;
  }

  //Info de la pelicula
  &__tag {
    font-size: 14px;
    margin-left: 5px;
  }
}