.movies {
  overflow: hidden;
  background: linear-gradient(to bottom, black 30%, #991b1b);
  padding-top: 2rem;
  position: relative;

  &__title{
    color: white;
    position: absolute;
    top: 0;
  }
}
