.movies {
  overflow: hidden;
  background: linear-gradient(to bottom, black 30%, #991b1b);
  padding-top: 2rem;
  border: 1px solid white;
  position: relative;

  &__title{
    color: white;
    position: absolute;
    top: 0;
  }
};

.drawer-container {
  &__content {
    background: linear-gradient(to bottom, black 20%, #991b1b);
    width: 280px;
  }
}
