.user {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 0 18px;

  & > * + * {
    margin-top: 16px;
  }

  //header section
  &__header {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 8px;

    & > * + * {
      margin-left: 16px
    }
  };

  &__img {
    width: 48px;
    height: 48px;
    
    &--image {
      border-radius: 4px
    }
  };

  &__info {
    margin-top: 10px;
  }

  &__name {
    font-size: 15px;
    font-weight: 500;
    color: white;
    line-height: 1; 
    margin-bottom: 4px;
  }

  &__mail {
    font-size: 13px;
    color: #9ca3af;
  }

  //Separation div
  &__separador {
    border-top: 1px solid #1f2937;
  }

  //Buttons Actions
  &__buttons {
    display: flex;
    flex-direction: column;
    & > * + * {
      margin-top: 4px;
    }
  }

  &__button {
    height:  38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    color: white;
    background: transparent;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &--logout {
      color: #f56565;
    }

    &--logout:hover {
      color: #fc8181;
      background-color: rgba(248, 113, 113, 0.1);
    }
  }
}

ion-icon{
  font-size: 20px;
}




