<mat-card class="card">
  <mat-card-header class="card__header">
    <h1 class="card__title">Add New Movie</h1>
  </mat-card-header>

  <mat-card-content class="card__content">
    <form class="card__form" [formGroup]="newMovieForm" (ngSubmit)="onSubmit()">
      <!--TITLE CONTENT-->
      <div class="card__container">
        <label class="card__label" for="title">Titulo</label>
        <input 
        class="card__input" 
        id="title" 
        type="text" 
        name="title" 
        placeholder="Ingresa el titulo de la pelicula" 
        formControlName="title" 
        [ngClass]="{'card__input--error' : submitted && hasErrors['title']['required']}"
        >
        @if (submitted && hasErrors['title']['required']) {
          <mat-error><span class="mat-form__error">El titulo es requerido</span></mat-error>
        }
      </div>
      <section class="card__section" >
        <!--ESTRENO CONTENT-->
        <div class="card__container" >
          <label class="card__label">Año de estreno</label>
          <div class="datepicker">
            <input 
            class="card__input datepicker__input" 
            placeholder="Selecciona el año" 
            readonly 
            formControlName="year"
            [ngClass]="{'card__input--error' : submitted && hasErrors['year']['required']}"
            (click)="toggleYearPicker()"
            >
            <div class="year-picker">
              @if (showYearPicker) {
                @for (year of years; track $index) {
                  <div class="year-option" (click)="selectYear(year)">
                    {{year}}
                  </div>
                }
              }
            </div>
            @if (submitted && hasErrors['year']['required']) {
              <mat-error><span class="mat-form__error">El año de estreno es requerido</span></mat-error>
            }
          </div>
        </div>
        <!--DURATION-->
        <div class="card__container">
          <label class="card__label" for="duration">Duración(minutos)</label>
          <input 
          class="card__input" 
          type="number" 
          name="duration" 
          id="duration" 
          placeholder="Ingresa la duración" 
          formControlName="duration" 
          [ngClass]="{'card__input--error' : submitted && hasErrors['duration']['required'] || submitted && hasErrors['duration']['min']}"
          >
          @if (submitted && hasErrors['duration']['required']) {
            <mat-error><span class="mat-form__error">La duración es requerida</span></mat-error>
          }
          @if (submitted && hasErrors['duration']['min']) {
            <mat-error><span class="mat-form__error">Debe durar almenos 30 min</span></mat-error>
          }
        </div>
      </section>
      <!--GENRE CONTENT-->
      <div class="card__container">
        <label class="card__label" for="genres">Genero</label>
        <mat-select 
        class="card__input mat-select"
        multiple
        placeholder="Generos" 
        formControlName="genre" 
        [ngClass]="{'card__input--error' : submitted && hasErrors['genre']['required']}"
        > 
          @for (genre of genreList; track $index) {
            <mat-option [value]="genre" class="mat-option">{{genre}}</mat-option>
          }
        </mat-select>
        @if (submitted && hasErrors['genre']['required']) {
          <mat-error><span class="mat-form__error">El genero es requerido</span></mat-error>
        }
      </div>
      <!--DIRECTOR NAMES CONTENT-->
      <div class="card__container">
        <label class="card__label" for="director">Director</label>
        <input 
        class="card__input" 
        type="text" 
        name="names" 
        id="director" 
        placeholder="Ingresa nombre del director" 
        formControlName="director" 
        [ngClass]="{'card__input--error' : submitted && hasErrors['director']['required'] || submitted && hasErrors['director']['minlength']}"
        >
        @if (submitted && hasErrors['director']['required']) {
          <mat-error><span class="mat-form__error">El nombre del director es requerido</span></mat-error>
        }
        @if (submitted && hasErrors['director']['minlength']) {
          <mat-error><span class="mat-form__error">Debe de ser un nombre real</span></mat-error>
        }
      </div>
      <!--DESCRIPTION CONTENT-->
      <div class="card__container">
        <label class="card__label" for="description">Descripcion</label>
        <textarea 
        class="card__input input-text-area" 
        type="text" 
        name="description" 
        id="description" 
        placeholder="Ingresa la description de la pelicula" 
        formControlName="description" 
        [ngClass]="{'card__input--error' : submitted && hasErrors['description']['required']}">
        </textarea>
        @if (submitted && hasErrors['description']['required']) {
          <mat-error><span class="mat-form__error">La descripción es requerida</span></mat-error>
        }
      </div>
      <!--RATE CONTENT-->
      <div class="card__container">
        <label class="card__label" for="rate">Calificación</label>
        <div class="range">
          <input 
          class="range__input" 
          type="range" 
          name="rate" 
          id="rate" 
          step="0.1" 
          min="5.0" 
          max="10" 
          formControlName="rate" 
          [(ngModel)]="rating" 
          [ngClass]="{'card__input--error' : submitted && hasErrors['rate']['required']}"
          > 
          <span class="range__span">{{rating}}</span>
        </div>
        @if (submitted && hasErrors['rate']['required']) {
          <mat-error><span class="mat-form__error">La Calificación es requerida</span></mat-error>
        }
      </div>
      <!--POSTER CONTENT-->
      <div class="card__container">
        <label class="card__label" for="poster">poster</label>
        <input 
        class="card__input" 
        type="text" 
        name="poster" 
        id="poster" 
        placeholder="Ingresa una url del poster de la pelicula" 
        formControlName="poster" 
        [ngClass]="{'card__input--error' : submitted && hasErrors['poster']['required']}"
        >
        @if (submitted && hasErrors['poster']['required']) {
          <mat-error><span class="mat-form__error">El poster es requerido</span></mat-error>
        }
      </div>
      <!--PLATAFORMS CONTENT-->
      <div class="card__container">
        <label class="card__label" for="plataforms">Plataformas</label>
        <mat-select 
        class="card__input mat-select"
        multiple 
        placeholder="En que plataforma se encuentra" 
        formControlName="plataforms" 
        [ngClass]="{'card__input--error' : submitted && hasErrors['plataforms']['required']}"
        >
          @for (plataform of plataformsList; track $index) {
            <mat-option [value]="plataform" class="mat-option">{{plataform}}</mat-option>
          }
        </mat-select>
        @if (submitted && hasErrors['plataforms']['required']) {
          <mat-error><span class="mat-form__error">La plataforma donde la viste es requerida</span></mat-error>
        }
      </div>
      <!--SUBMIT BUTTON CONTENT-->
      <button class="card__button">Agregar pelicula</button>
    </form>
  </mat-card-content>
</mat-card>


