


<!-- <section class="movies">
  <button (click)="slideMoviesPrev()" class="movies__button movies__button--prev">
    <ion-icon name="chevron-back-outline" color="red"></ion-icon>
  </button>
  @for(movie of displayedMovies; track index; let index=$index ) {
    <button class="movies__content" (click)="selectMovie(movie)">
      <img mat-card-image class="movies__img" [src]="movie.poster" alt="more movies">
    </button> 

    @if(movieSelected) {
      <img style="background-image: url('movie.image');">
      <img [src]="movie.image" alt="">
    }
  }
  <button (click)="slideMoviesNext()" class="movies__button movies__button--next">
    <ion-icon name="chevron-forward-outline" color="red"></ion-icon>
  </button>
</section> -->